name: Deploy Docusaurus Docs

permissions:
  contents: write
  pages: write
  id-token: write

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  filter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'libs/act/src/**'
              - 'libs/act-pg/src/**'
              - 'docs/**'
    outputs:
      docs: ${{ steps.filter.outputs.docs }}

  deploy:
    needs: filter
    if: needs.filter.outputs.docs == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - run: pnpm install
      - run: pnpm -F docs build:all

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
